* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


/*Css for font used*/
* {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color:#888887;
}


/*Misc css and classes to make things look just the way I want*/
body {
  background-color: #01144A;
}


div {
  flex-wrap: wrap;
}


img {
  padding-left: 2.5%;
  padding-right: 2.5%;
}


.featured {
  max-height: 75%;
}


.header {
  text-align: right;
}


.text-center {
  text-align:center;
}


/*Class that centers imgs and adjust size to fit the div*/
.img-responsive {
  max-width:100%;
  height:auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}


.grid {
    margin:0 auto;
    max-width:1200px;
    width:100%;
}


/*Media Queries*/
/*Querie for screens between 576px and 900px*/
@media screen and (max-width: 900px) and (min-width: 576px) {
  .row {
    display:flex;
  }


  #featured1 {
    width: 50%;
  }


  #featured2 {
    width: 50%;
  }


  #featured3 {
    width: 100%;
  }


  #featured3-img {
    max-width:50%;
  }

}


/*Querie for screens 575px and smaller*/
@media screen and (max-width: 575px) {
  .row {
    display:flex;
    flex-wrap: wrap;
  }


  #header1 {
    width: 100%;
  }


  #header1-img {
    display:block;
    margin-right: auto;
    margin-left: auto;
  }


  #header2 {
    width:100%;
  }


  .header {
    text-align: center;
  }


  #featured1 {
    width: 100%;
  }


  #featured2 {
    width: 100%;
  }


  #featured3 {
    width: 100%;
  }

}
/*Css for a grid system*/
.row {
    width:100%;
    display:inline-flex;
}


.container {
  margin-left: auto;
  margin-right: auto;
  max-width:1200px;
}


.col-1 {
  width:8.33%;
}


.col-2  {
  width:16.66%;
}


.col-3  {
  width:25%;
}


.col-4  {
  width:33.33%;

}


.col-5  {
  width:41.66%;
}


.col-6  {
  width:50%;
}


.col-7  {
  width:58.33%;
}


.col-8  {
  width:66.66%;
}


.col-9  {
  width:75%;
}


.col-10  {
  width:83.33%;
}


.col-11  {
  width:91.66%;
}


.col-12  {
  width:100%;
}
